@import url('https://fonts.googleapis.com/css2?family=Roboto');

*{
    font-family: 'Roboto';
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-align: justify;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    background-color: #add8e6;
    color: white;
    box-shadow: 0 0 2px #527581;
    h1{
        font-size: 40px;
    }   
    a{
        font-size: 30px;
        text-align: center;
        transition: 0.4s;
        color: white;
    }
    a:hover{
        transition: 0.2s;
        color: #527581;
    }
}

main{
    width: 70%;
    margin: 0 auto;
    font-size: 24px;
    p{
        color: #282828;
    }
}

.chart-type-choose{
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 20px auto;
    a{
        min-width: 185px;
        text-align: center;
        transition: 0.4s;
        padding: 10px 20px;
        background-color: white;
        color: #527581;
        border: 1px solid #527581;
        border-radius: 6px;
    }
    a:hover{
        transition: 0.2s;
        background-color: #527581;
        border: 1px solid transparent;
        color: white;
    }
}

button{
    display: block;
    text-align: center;
    margin: 10px auto;
}

form{
    button{
        border: none;
        background-color: green;
        color: white;
        border-radius: 6px;
        padding: 10px 20px;
        transition: 0.4s;
        cursor: pointer;
    }
    button:hover{
        background-color: #527581;
        color: white;
        transition: 0.2s;
    }
}

#message{
    margin: 20px 0;
    text-align: center;
    padding: 20px;
    border-radius: 6px;
}

footer{
    position: fixed;
    bottom: 0px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #527581;
    color: white;
    a{
        text-align: center;
        transition: 0.4s;
        color: #add8e6;
    }
    a:hover{
        transition: 0.2s;
        color: white;
    }
}
#table-dataset{
    width: 100%;
    td{
        padding: 20px;
    }
    thead{
        background-color: #527581;
        color: white;
    }
    tbody{
        background-color: #add8e6;
        color: #282828;
    }
}

@media screen and (max-width: 810px) {
    main{
        width: 90%;
    }
    .chart-type-choose{
        width: 100%;
        a{
            min-width: 45%;
        }
    }
}

@media screen and (max-width: 400px) {
    header{
        flex-direction: column;
        gap: 20px;
        h1{
            font-size: 30px;
        }
    }
}